PORT = 4200
HOST = "http://localhost"
SERVER_NAME = NovaTech Server

# підключення бази даних docker desktop
# DB_HOST = localhost
# DB_PORT = 5432
# DB_USER = bapeyms
# DB_PASSWORD = 123456
# DB_NAME = library

# підключення бази даних aiven
DB_HOST = pg-3ae8a82f-katrin-3a33.k.aivencloud.com
DB_PORT = 20688
DB_USER = avnadmin
DB_PASSWORD = AVNS_EwLtCE3DCB2OpNwKOMv
DB_NAME = library

PATH_TO_JSON_SERVER = http://localhost:3000